<div id="homeowner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">
        <h1>
          Giving out candy
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4" style="text-align:center">
        <h4>I'm giving out...</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="I'm giving out...">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-4">
        <ul style="text-align:center" id="candy-list">
          <li>Skittles</li>
          <li>Candy Corn</li>
          <li>Razor Blades</li>
        </ul>
      </div>

      <div class="col-lg-4"></div>

      <div class="col-lg-4">
        {{!-- map goes here --}}
        <h1>MAP</h1>
      </div>
    </div>

  </div>
</div>