<div id="tot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <h1>
                    Trick-or-Treat!
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <h3>Here's what's being given out in your Neighborhood</h3>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-4">
                <ul id="candy-list">
                    <li>Skittles</li>
                    <li>Candy Corn</li>
                    <li>Razor Blades</li>
                </ul>
            </div>

            <div class="col-lg-4"></div>

            <div class="col-lg-4">
                {{!-- map goes here --}}
                <h1>MAP</h1>
            </div>
        </div>

    </div>
</div>