@font-face{ 
  font-family: "Misfits";
  src: url(../fonts/MISFITS_.TTF)
}

@font-face{
  font-family: "bloodlust";
  src: url(../fonts/bloodlust.ttf)
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

body {
  background: url("https://media.giphy.com/media/W4JoqYVjqMIuc/giphy.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
  background-color: #F57200;
}

#navbarSupportedContent {
  margin-left: 65%;
  font-family: "bloodlust";
  font-size: 35px;
  text-shadow: 3px 5px 10px #000;
}

#brand {
  font-family: "Misfits";
  font-size: 40px;
  text-shadow: 1px 3px 7px #000;
}

.list-group-item {
  line-height: 2.5;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20%; 
}
